@page
@{
}
 
<div class="text-center">
<form action="">
  <input type="number" class="form-control" id="id" name="id" placeholder="id">
  <label for="Nombre" class="form-label">Nombre:</label>
  <input type="text" class="form-control" id="Nombre" name="Nombre" placeholder="Nombre">
  <label for="Dirección" class="form-label">Dirección:</label>
  <input type="text" class="form-control" id="Dirección" name="Dirección" placeholder="Dirección">
  <label for="Coord. x" class="form-label">Coord. x:</label>
  <input type="number" class="form-control" id="Coord. x" name="Coord. x" placeholder="Coord. x">
  <label for="Coord. y" class="form-label">Coord. y:</label>
  <input type="number" class="form-control" id="Coord. y" name="Coord. y" placeholder="Coord. y">
  <label for="Tipo" class="form-label">Tipo:</label>
  <input type="text" class="form-control" id="Tipo" name="Tipo" placeholder="Tipo">
  <hr>
  <button type="submit" class="btn btn-success">Enviar</button>
</form>
</div>